.box1{
    background-color: #941b0cff ;
    height: 170px !important;
}
.redes{
    font-size: 60px !important;
    color: white;
}
.texto{
    color: white;
}
.texto2{
    color: white;
    height:50vh ;
}