.caixa{
   background-color: white;

}

.titulo{
    color: #941b0cff !important;
    font-weight:bold !important;
}

.botao{
    border-color: #c75146ff !important;
    background-color: white !important;
    color: #941b0cff !important;
}
.postagens{
    background-color:white;

}